@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  padding: 0;
  background: black;
  font-size: 14px;
}

.logo {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  color: white;
  text-shadow: 0 3px 5px rgba(0,0,0,0.5);
  text-transform: uppercase;
}

.logo h1 {
  margin: 15px 0;
  padding: 5px 10px 5px 20px;
  background: rgba(0,0,0,0.5);
  line-height: 1em;
}

h2,
h4 {
  margin: 0;
}

h2 {
  font-size: 1.5em;
}

h2 + h4 {
  font-weight: normal;
  font-style: italic;
  font-size: inherit;
}

main {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

main article {
  height: 100vh;
  width: 33.33%;
  min-width: unset;
  overflow: hidden;
  transition: all 0.5s ease;
  align-content: end;
  display: grid;
  background-color: #ddd;
  position: relative;
}

main:hover article {
  width: 20%;
  filter: brightness(0.65);
}

main:hover article:not(:hover) img {
  filter: blur(5px);
  transform: scale(1.1);
}

main article:hover {
  width: 60%;
  filter: brightness(1);
  transition: all 0.25s ease;
  font-size: 17px;
}

article > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: 1;
  transition: all 0.3s ease;
}

article > div {
  z-index: 3;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  min-height: 33vh;
  text-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.5);
}

main article::before {
  content: "";
  position: absolute;
  visibility: visible;
  top: -100%;
  right: -10%;
  width: 50%;
  z-index: 2;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #ddd);
  pointer-events: none;
  transform: skew(30deg) rotate(-50deg);
  filter: blur(5px);
  box-shadow: -25px 25px 25px inset rgba(255, 255, 255, 0.5);
  transition: all 0.5s ease;
  mix-blend-mode: hard-light;
  opacity: 0;
}

main article:hover::before {
  top: -20%;
  opacity: 0.5;
  transform: skew(30deg) rotate(0deg);
}

article nav {
  font-size: 0;
  position: absolute;
  pointer-events: none;
  transition: all 0.5s ease;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

article:hover nav {
  position: relative;
  pointer-events: all;
}

article nav a {
  color: inherit;
  display: inline-block;
  border: 1px solid white;
  padding: 0.5em;
  margin-top: -10px;
  margin-right: 10px;
  text-decoration: none;
  font-size: 14px;
  background: rgba(0,0,0,0.5);
  filter: blur(10px);
  text-transform: uppercase;
  opacity: 0;
  transition: all 0.3s ease;
  flex-grow: 1;
}

article:hover nav a {
  margin-top: 10px;
  opacity: 1;
  filter: blur(0px);
  box-shadow: 0 0 0 black, 0 0 0 white;
}

article nav a:hover {
  color: black;
  background: white;
  text-shadow: none;
  box-shadow: 2px 2px 0 black, 3px 3px 0 white;
}

article:hover nav a:not(:hover):nth-of-type(2) {
  transition-delay: 0.15s;
}
article:hover nav a:not(:hover):nth-of-type(3) {
  transition-delay: 0.3s;
}
article:hover nav a:not(:hover):nth-of-type(4) {
  transition-delay: 0.45s;
}

@media (max-width: 767px) {
  main {
    display: block;
  }
  main article {
    width: 100% !important;
    height: 33.33vh;
    padding: 10px;
  }
  main:hover article {
    height: 20vh;
  }
  main article:hover {
    height: 60vh;
  }
  article > div {
    min-height: unset;
  }
  .logo h1 {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  article > div {
    height: 100%;
    width: 50%;
    position: absolute;
  }
  .logo {
    width: 200px;
    left: unset;
    right: 0;
    text-align: right;
  }
  .logo h1 {
    background: transparent;
    display: block;
  }
}
